# Load-Balancer range for MetalLB, see chapter 5.
# This IP range should be within the same subnet 
# as your Kubernetes Nodes, and should not cause 
# collisions with other IPs in your network.
export LOADBALANCER_RANGE_START="192.168.1.100"
export LOADBALANCER_RANGE_END="192.168.1.120"